/**
 * Ok admittedly I probably shouldn't add these fonts into a boilerplate, but I just like the look of Open Sans so much more than the default!
 */

@font-face {
    font-family: "Open Sans";
    src: url("./fonts/open_sans/OpenSans-Regular.ttf");
}
 
@font-face {
    font-family: "Open Sans";
    font-weight: bold;
    src: url("./fonts/open_sans/OpenSans-Bold.ttf");
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    src: url("./fonts/open_sans/OpenSans-Italic.ttf");
}

@font-face {
    font-family: "Open Sans";
    font-weight: bold;
    font-style: italic;
    src: url("./fonts/open_sans/OpenSans-BoldItalic.ttf");
}

:root {
    font-size: 20px;
    font-family: "Open Sans";
    box-sizing: border-box;
}